# build out
build/
bin/
out/
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
x64/
x86/
Debug/
Release/
VkAtlas/x64/
VkAtlas/Debug/
VkAtlas/Release/

# build files
*.obj
*.exe
*.o
*.a
*.lib
*.pdb

# IDE options
.idea/
*.user
*.vcxproj.user